#back-btn {
    margin-top: 30px;
    padding: 10px 0;
    border-radius: 5px;
    font-size: 16px;
    background: none;
    box-shadow: 1px 1px 5px var(--Very-Dark-Blue);
}

#flag-content[data-theme="default"] {
    background-color: var(--White);
}

#flag-content[data-theme="dark"] {
    background-color: var(--Very-Dark-Blue);
}

a {
    padding: 10px 40px;
}

i {
    margin-right: 10px;
}

#flag-container {
    margin-top: 30px;
    display: flex;
    width: 100%;
    gap: 100px;
}

.flag-img {
    width: 50%;
    overflow: hidden;
}

.flag-img img {
    width: 100%;
}

.flag-description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    padding: 0 20px;
}

.flag-summary {
    display: flex;
    justify-content: space-between;
}

.flag-summary span {
    font-weight: 600;
}

button {
    padding: 5px 20px;
    border-radius: 5px;
    border: 1px solid grey;
    cursor: pointer;
}